body{
    background-color: #FFFFFF;
}
.black {
    background-color: black;
    color: #FFFFFF;
}
button {
    display: block;
    margin: auto;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    background-color: #6C757D;
    color: #FFFFFF;
}
@media (max-width : 900px) {
    h1, h2, h3, p {
        text-align: center;
        font-size: 15px;
    }
    .profile-image {
        width: 300px;
        display: block;
        margin: auto;
    }
    .projects-button, .contact-button {
        display: block;
        margin: 0px auto;
    }
    .container img {
        width: 300px;
        display: block;
        margin: auto;
    }
    .forms {
        padding: 10px 50px;
    }
    .email {
        padding: 2px;
        margin: auto 0px;
        width: fit-content;
    }
}
.profile-image {
    width: 500px;
}
.container img {
    width: 500px;
}
label {
    font-weight: bolder;
    font-size: larger; 
}
.email-address {
    display: block;
    margin: auto;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
    line-height: 5px;
}
.email-address:hover {
    text-decoration: none;
    color: #6C757D;
}
.email {
    width: fit-content;
    padding: 5px 10px;
}
.forms {
    border: 1px solid #000000;
    border-radius: 5px;
}
.portfolio {
    background-color: #007BFF;
    padding-top: 55px;
}
.clock {
    background-color: #878D91;
    padding-top: 80px;
}
.weather {
    background-color: #14111C;
    padding-top: 80px;
}
.linkedin-logo {
    width: 50px;
    border-radius: 150px;
}
.linkedin-logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
}
.netlify-logo {
    width: 50px;
    border-radius: 20px;
}
.netlify-logo:hover {
    transition: transform 150ms ease-in-out;
    transform: scale(1.5);
}
.github-logo {
    width: 50px;
    border-radius: 20px;
}
.github-logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
}
.logo {
    display: flex;
    justify-content: space-evenly;
}