body{
    background-color: #FFFFFF;
}
.black {
    background-color: black;
    color: #FFFFFF;
}
button {
    display: block;
    margin: auto;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    background-color: #6C757D;
    color: #FFFFFF;
}
.portfolio {
    background-color: #007BFF;
    padding-top: 55px;
}
.clock {
    background-color: #878D91;
    padding-top: 80px;
}
.weather {
    background-color: #14111C;
    padding-top: 80px;
}
.linkedin-logo {
    width: 50px;
    border-radius: 150px;
}
.linkedin-logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
}
.netlify-logo {
    width: 50px;
    border-radius: 20px;
}
.netlify-logo:hover {
    transition: transform 150ms ease-in-out;
    transform: scale(1.5);
}
.github-logo {
    width: 50px;
    border-radius: 200px;
}
.github-logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
}
.logo {
    display: flex;
    justify-content: space-evenly;
}
img {
    width: 500px;
    border-radius: 5px;
}