body{
    background-color: #000000;
    overflow-x: hidden;
    color: #FFFFFF;
}
:root {
    --primary-color: #6C757D;
}
.outer-container {
    padding: 0px 20px;
    overflow-x: hidden;
  }
.inner-container {
    margin: 0px 30px;
  }
.profile-image {
    width: 400px;
}
.inner-container img {
    width: 400px;
}
.recent img {
    width: 250px;
}
label {
    font-weight: bolder;
    font-size: larger; 
}
.email-address {
    display: block;
    margin: auto;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
    line-height: 5px;
}
.email-address:hover {
    text-decoration: none;
    color: var(--primary-color);
}
.email {
    width: fit-content;
    padding: 5px 10px;
}
.forms {
    border: 1px solid #000000;
    border-radius: 5px;
}
.portfolio {
    background-color: #007BFF;
    padding-top: 55px;
}
.clock {
    background-color: #878D91;
    padding-top: 80px;
}
.weather {
    background-color: #14111C;
    padding-top: 80px;
}
.linkedin-logo, .github-logo, .netlify-logo {
    width: 50px;
    border-radius: 150px;
}
.linkedin-logo:hover, .github-logo:hover, .netlify-logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
}
.logo {
    display: flex;
    justify-content: space-evenly;
}
nav {
    padding: 20px 0px;
}
nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li.active a {
    text-decoration: none;
  }
  @media (max-width : 900px) {
    h1, h2, h3, p {
        text-align: center;
        font-size: 15px;
    }
    .outer-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .inner-container {
        padding: 0;
        margin: 0;
    }
    .profile-image {
        display: block;
        margin: auto;
        width: 100%;
    }
    .projects-button, .contact-button {
        display: block;
        margin: 0px auto;
        width: 50%;
    }
    .inner-container img {
        display: block;
        margin: auto 5px;
        max-width: 100%;
    }
    .forms {
        padding: 10px 50px;
    }
    .email {
        padding: 2px;
        margin: auto 0px;
        width: fit-content;
    }
}